
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300;1,400&family=Ubuntu:ital,wght@0,500;0,700;1,500&display=swap');

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: white;
}

body
{
 
    padding: 0;
    margin: 0;
    background: #6c757d;


}
.kalkulator
{
    margin: 25px;
    display: grid;
    align-content: center;
    justify-content: center;   
    grid-template-columns: repeat(5, 80px) ;
    grid-template-rows: minmax(120px, auto) repeat(6, 80px) ;
}

.wynik
{
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    background-color: #333533;
    justify-content: space-between;
    padding: 20px;
    word-wrap: break-word;
    word-break: break-all;
    box-shadow: 0px 4px 25px -10px rgba(0,0,0,0.75);
}
.wyczysc
{
    grid-column: span 2;
}
.rownosc
{
    grid-column: span 2;
}
.plus
{
    grid-row: span 2;
}
button 
{
    cursor: pointer;
    border: 1px solid #333533;
    background-color: #464d53;
    color: #fff;
}

button:hover
{
    opacity: 0.5;
}
.aktualne_dzialanie {
    font-size: 30px;
  }


